<div style="text-align:center; font-family:cursive;"> 
    
    <h1 style="color:magenta;">
        this is the about me section!1!!
    </h1>

    <h2>
        my name's Lucas Francisco Reyes Salazar...
    </h2><br>

    <p style="font-family:monospace">
        Born in Iquique, I moved to Santiago at age 10. Then, I enrolled to Colegio San Pedro Nolasco. I graduated High School in 2020, and then enrolled to Universidad de los Andes in 2021, from which I am still in undergrad.
    </p>

    <p style="font-family:monospace">
        i love compsci! (i want money)
    </p><br>


</div>